form {
  width: 60%;
}

.form-control:focus {
  box-shadow: none;
}

.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

label {
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  margin-top: 5%;
  margin-bottom: 5%;
}

.btn-check:focus .btn,
.btn:focus {
  box-shadow: none;
}

btn-primary:active:focus {
  box-shadow: none;
}
